body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  width:100%;
  height: 100vh;
  display:table;
  background-color: #0c1428 !important;
  border-radius: 0 !important;
 }

 .jumbotron .container {
   display:table-cell;
   vertical-align:middle;
   text-align: center;
 }

.orange {
  color: 	#f97a5b;
}

.card-img-flip {
  opacity: 0;
}

.card-img-unflip {
  opacity: 1;
}
